*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 231, 146);
}

header h2{
   width: fit-content;
   padding: 10px 40px;
   border-radius: 40px;
   background-color: black;
   color:white;
   font-weight: 400;
   box-shadow: 0px 8px 16px rgba(0,0,0,0.1);

}

main{
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.select-shape{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 20px;
    gap:7px;
}

.select-shape label{
    color:black;
    font-size: 16px;
    font-weight: 600;
}

.select-shape select{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}


.calculation-area{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;


}


.calculation-area article{
    width: 100%;
    height: 100%;
    background-color: darkorange;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:20px;

}

.calculation-area article h3{
    color:white;
    font-size: 20px;
}

.calculation-area article div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:7px
}

article div label{
    color:white;
}

article div select, input, article button{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border:1px solid white;
    outline: none;
    color:white;
    border-radius: 5px;
}

input::placeholder{
    color:rgba(255,255,255,0.7);
}

article button{
    margin-top: 15px;
}

article button:hover{
    background-color: white;
    color:darkorange;
}


select option{
    color:black;
}
article h1{
    color:white;
    font-size: 23px;
    margin-top: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: white;


}
footer p{
    font-size: 10px;
}